/* App.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
